<%= form_with(model: @product, html: {multipart: true}, local: true) do |form| %>

  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %>
        : product not saved!
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
   
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
    
  <p>
    <%= form.label :price %><br/>
    <%= form.text_field :price %>
  </p>

  <p>
    <%= form.label :quantity %><br/>
    <%= form.text_field :quantity %>
  </p>

  <p>
    <% if @product.image.exists? %>
      <%= image_tag @product.image.url(:medium) %>
    <% end %>

    <%= form.label :image, "Attach an Image"%><br/>
    <%= form.file_field :image%>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
