<%= form_with(model: @product, html: {multipart: true}, local: true) do |form| %>

  
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
   
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
    
  <p>
    <%= form.label :price %><br/>
    <%= form.text_field :price %>
  </p>

  <p>
    <% if @product.image.exists? %>
      <%= image_tag @product.image.url(:medium) %>
    <% end %>

    <%= form.label :image, "Attach an Image"%><br/>
    <%= form.file_field :image%>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
