<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice" style="color: red;"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <p>
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>
        <%= link_to 'Edit profile', edit_user_registration_path %> |
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign up', new_user_registration_path %> |
        <%= link_to 'Login', new_user_session_path %> |
        <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
      <% end %>
    </p>
    <%= yield %>
  </body>
</html>
